<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../../../public/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../../public/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../../../public/css/style.css" rel="stylesheet">
</head>

<body>


<main class="">
    <section class="sidebar d-flex flex-column p-3 border shadow position-fixed" style="width:250px;height:100%;">
        <a href="/" class="d-flex align-items-center text-decoration-none text-dark mb-3 mb-md-0 me-md-auto">
            <span class="fs-5">MENU</span>
        </a>
        <hr>
        <!--            <hr class="bg-white my-3 mx-0" style="height:.5px;opacity:.25;">-->
        <ul class="nav nav-pills flex-column flex-shrink-0 mb-auto">
            <li class="nav-item mb-2">
                <a href="#" class="nav-link bg-warning active" aria-current="page">
                    <i class="fas fa-users"></i> Quản lý shipper
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark" aria-current="page">
                    <i class="fas fa-users"></i> Quản lý shipper
                </a>
            </li>
        </ul>
    </section>

    <!-- content -->
    <section class="content px-3" style="margin-left:250px">
        <!-- toolbar -->
        <div class="py-3 d-flex flex-row justify-content-between">
            <div>
                <button type="button" class="btn btn-primary add-btn">
                    <i class="fas fa-user-plus"></i> Thêm
                </button>

            </div>

            <div class="input-group" style="width: 400px;">
                <input type="text" class="form-control" placeholder="Search by name">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Tìm kiếm</button>
                </div>
            </div>
        </div>

        <div class="list d-flex flex-row flex-wrap">
            <div class="card" style="width: 18rem;">
                <img src="../../../public/img/shipper-avatar.jpg" class="card-img-top" alt="shipper-avatar">
                <div class="card-body">
                    <h5 class="card-title">Nguyễn Trọng Hiếu</h5>
                    <p class="card-text">
                        ID: 1<br>
                        Số điện thoại: 0123456789<br>
                        Phương tiện: Xe máy
                    </p>
                    <a href="#" class="btn btn-info text-white">
                        <i class="fas fa-info"></i> Chi tiết
                    </a>
                    <a href="#" class="btn btn-warning text-white">
                        <i class="fas fa-user-edit"></i> Sửa
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Xóa
                    </a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../public/img/shipper-avatar.jpg" class="card-img-top" alt="shipper-avatar">
                <div class="card-body">
                    <h5 class="card-title">Nguyễn Trọng Hiếu</h5>
                    <p class="card-text">
                        ID: 1<br>
                        Số điện thoại: 0123456789<br>
                        Phương tiện: Xe máy
                    </p>
                    <a href="#" class="btn btn-info text-white">
                        <i class="fas fa-info"></i> Chi tiết
                    </a>
                    <a href="#" class="btn btn-warning text-white">
                        <i class="fas fa-user-edit"></i> Sửa
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Xóa
                    </a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../public/img/shipper-avatar.jpg" class="card-img-top" alt="shipper-avatar">
                <div class="card-body">
                    <h5 class="card-title">Nguyễn Trọng Hiếu</h5>
                    <p class="card-text">
                        ID: 1<br>
                        Số điện thoại: 0123456789<br>
                        Phương tiện: Xe máy
                    </p>
                    <a href="#" class="btn btn-info text-white">
                        <i class="fas fa-info"></i> Chi tiết
                    </a>
                    <a href="#" class="btn btn-warning text-white">
                        <i class="fas fa-user-edit"></i> Sửa
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Xóa
                    </a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../public/img/shipper-avatar.jpg" class="card-img-top" alt="shipper-avatar">
                <div class="card-body">
                    <h5 class="card-title">Nguyễn Trọng Hiếu</h5>
                    <p class="card-text">
                        ID: 1<br>
                        Số điện thoại: 0123456789<br>
                        Phương tiện: Xe máy
                    </p>
                    <a href="#" class="btn btn-info text-white">
                        <i class="fas fa-info"></i> Chi tiết
                    </a>
                    <a href="#" class="btn btn-warning text-white">
                        <i class="fas fa-user-edit"></i> Sửa
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Xóa
                    </a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../public/img/shipper-avatar.jpg" class="card-img-top" alt="shipper-avatar">
                <div class="card-body">
                    <h5 class="card-title">Nguyễn Trọng Hiếu</h5>
                    <p class="card-text">
                        ID: 1<br>
                        Số điện thoại: 0123456789<br>
                        Phương tiện: Xe máy
                    </p>
                    <a href="#" class="btn btn-info text-white">
                        <i class="fas fa-info"></i> Chi tiết
                    </a>
                    <a href="#" class="btn btn-warning text-white">
                        <i class="fas fa-user-edit"></i> Sửa
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Xóa
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- bootstrap -->
<script src="../../../public/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- bootstrap -->
</body>
</html>