<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Liên hệ</title>
</head>

<body>
    <div class="wapper">
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light border-bottom bg-white">
                <div class="container d-flex">
                    <a class="navbar-brand" href="index.html">
                        <div class="logo-container text-warning"><img src="./img/logo.png" class="img-fluid" alt="logo">TINYFISH</div>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-grow-0" id="navbar">
                        <ul class="nav fs-5">
                            <li class="nav-item"><a class="nav-link text-dark" href="index.html">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="order.html">Đặt giao hàng</a></li>
                            <li class="nav-item"><a class="nav-link active text-white rounded-pill bg-warning" href="./contact.html">Liên hệ</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tài khoản
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                                    <li><a class="dropdown-item" href="login.html">Đăng nhập</a></li>
                                    <li><a class="dropdown-item" href="register.html">Đăng ký</a></li>
                                    <li><a class="dropdown-item visually-hidden" href="account.html">Thông tin tài khoản</a></li>
                                    <li><a class="dropdown-item visually-hidden" href="#">Đơn hàng của tôi</a></li>
                                    <li><a class="dropdown-item visually-hidden" href="#logout">Đăng xuất</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="page-title">
                <h1 class="text-center">Liên hệ</h1>
            </div>
            <section class="container pb-5">

                <form class="mx-auto" action="" method="post" style="max-width:600px;">
                    <div class="mb-3">
                        <label for="name-input" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="name-input" required>
                    </div>
                    <div class="mb-3">
                        <label for="email-input" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email-input" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject-input" class="form-label">Tiêu đề</label>
                        <input type="text" class="form-control" id="subject-input">
                    </div>
                    <div class="mb-3">
                        <label for="content-input" class="form-label">Nội dung</label>
                        <textarea class="form-control" id="content-input" rows="10" placeholder="Hãy mô tả vấn đề của bạn" required></textarea>
                    </div>
                    <button class="btn btn-warning text-white my-3 px-5" type="submit">Gửi</button>
                </form>

            </section>
        </main>
        <footer class="footer text-white">
            <section class="footer__top bg-dark pt-5 d-flex flex-column align-items-center">
                <h1 class="pb-3 text-uppercase">Tiny Fish .Co .Ltd</h1>
                <div class="contact">
                    <i class="fas fa-map-marker-alt"></i> Minh Tân - Kiến Thuỵ - Hải Phòng <br>
                    <i class="fas fa-envelope"></i> contact@tinyfish.com <br>
                    <i class="fas fa-phone-alt"></i> 19001570 <br>
                </div>
                <div class="social fs-1 py-3">
                    <a href="https://www.facebook.com/Iamtinyfish"><i class="fab fa-facebook text-white"></i></a>
                    <a href="#"><i class="fab fa-twitter text-white"></i></a>
                    <a href="#"><i class="fab fa-google text-white"></i></a>
                    <a href="#"><i class="fab fa-instagram text-white"></i></a>
                </div>
            </section>
            <section class="footer__bottom bg-black p-2">
                Copyright &copy Nguyễn Trọng Hiếu 2021
            </section>
        </footer>
    </div>

    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>