<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Đăng kí</title>
    <style>
        .input-group span {
            width: 40px;
        }
    </style>
</head>

<body>
    <div class="wapper">
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light border-bottom bg-white">
                <div class="container d-flex">
                    <a class="navbar-brand" href="index.html">
                        <div class="logo-container text-warning"><img src="./img/logo.png" class="img-fluid" alt="logo">TINYFISH</div>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-grow-0" id="navbar">
                        <ul class="nav fs-5">
                            <li class="nav-item"><a class="nav-link text-dark" href="index.html">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="order.html">Đặt giao hàng</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="contact.html">Liên hệ</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active text-white rounded-pill bg-warning" href="" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tài khoản
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                                    <li><a class="dropdown-item" href="login.html">Đăng nhập</a></li>
                                    <li><a class="dropdown-item" href="./register.html">Đăng ký</a></li>
                                    <li><a class="dropdown-item visually-hidden" href="account.html">Tài khoản của tôi</a></li>
                                    <li><a class="dropdown-item visually-hidden" href="#">Đơn hàng của tôi</a></li>
                                    <li><a class="dropdown-item visually-hidden" href="#logout">Đăng xuất</a></li>
                                </ul>
                            </li
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="register-section d-flex justify-content-center align-items-center text-center fs-6">
                <form action="#" method="post" style="width: 350px;">
                    <h1 class=" mb-4 ">Đăng ký</h1>

                    <div class="input-group my-3 ">
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-user "></i></span>
                        <input type="text" class="form-control " placeholder="Tên tài khoản " required>
                    </div>

                    <div class="input-group ">
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-lock "></i></span>
                        <input type="password" class="form-control " placeholder="Mật khẩu " required>
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-eye "></i></span>
                    </div>

                    <div class="input-group my-3 ">
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-lock "></i></span>
                        <input type="password" class="form-control " placeholder="Nhập lại mật khẩu " required>
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-eye "></i><i
                                class="fas fa-eye-slash visually-hidden "></i></span>
                    </div>

                    <div class="input-group ">
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-address-card "></i></span>
                        <input type="text" class="form-control " placeholder="Họ tên " required>
                    </div>

                    <div class="input-group my-3 ">
                        <span class="input-group-text bg-white text-warning "><i
                                class="fas fa-map-marker-alt "></i></span>
                        <input type="text" class="form-control " placeholder="Địa chỉ " required>
                    </div>

                    <div class="input-group ">
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-envelope "></i></span>
                        <input type="email" class="form-control " placeholder="Email " required>
                    </div>

                    <div class="input-group my-3 ">
                        <span class="input-group-text bg-white text-warning "><i class="fas fa-phone-alt "></i></span>
                        <input type="text" class="form-control " placeholder="Số điện thoại " required>
                    </div>

                    <button class="btn btn-warning text-white text-uppercase my-3 " type="submit " style="width: 100%; ">
                        Đăng ký
                    </button>
                    <a class="text-muted " href="login.html ">Bạn đã có tài khoản?</a>
                </form>
            </section>
        </main>

    </div>

    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js "></script>
    <script>
        let eyeIcons = document.querySelectorAll('.fa-eye');
        for (let icon of eyeIcons) {
            icon.addEventListener('click', () => {
                icon.classList.toggle('fa-eye-slash');
                let inPwd = icon.parentElement.previousElementSibling;
                (inPwd.type === 'password') ? inPwd.type = 'text': inPwd.type = 'password';
            })
        }
    </script>
</body>

</html>